.nav-link {
  color: #15233d !important;
  font-size: 30px !important;
  font-family: "Roboto", sans-serif !important;
  margin-right: 20px;
}

.nav-link:hover {
  color: #15233d !important;
  font-size: 30px !important;
  font-family: "Roboto", sans-serif !important;
  text-decoration: underline !important;
  text-decoration-color: #ff8200 !important;
}
